langchain-openai>=0.3.28
langchain>=0.3.26
nltk>=3.9.1
openai>=1.97.0
pandas>=2.3.1
spacy>=3.8.7
beautifulsoup4>=4.13.4
requests>=2.32.4
networkx>=3.2
matplotlib>=3.8.0
numpy
langchain-openai
langchain
scikit-learn
plotly
seaborn
streamlit
kaleido